body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*my custom code//
/* Custom dropdown menu background */
.custom-dropdown-menu {
  background-color: #022759;
}

/* Remove hover background */
.custom-dropdown-menu .dropdown-item:hover,
.custom-dropdown-menu .dropdown-item:focus {
  background-color: #00aeff;
  color: #ffffff;
}

.content-item {
  width: 100%;
  background: #e6f1f7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px 15px;
  margin: auto;
  align-items: center;
}

.mainHeading {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  color: #132573;
  line-height: 1.2;
  margin-bottom: 35px;
}

/*Auth-----*/

/* Auth Register */
.codex-authbox.register {
  max-width: 65% !important;
  width: 65% !important;
  margin: auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  border-top: 5px solid #1a7cbc;
  border-bottom: 5px solid #1a7cbc;
  -webkit-box-shadow: 0 0 20px 5px rgba(5, 23, 34, .05);
  box-shadow: 0 0 20px 5px rgba(5, 23, 34, .05);
}


.codex-authbox.login {
  min-width: 445px;
  width: 445px;
  margin: auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  border-top: 5px solid #1a7cbc;
  border-bottom: 5px solid #1a7cbc;
  -webkit-box-shadow: 0 0 20px 5px rgba(5, 23, 34, .05);
  box-shadow: 0 0 20px 5px rgba(29, 37, 41, 0.05);
}

.btn-primary {
  background-color: #14468C !important;
  border-color: #14468C;
}

.text-bg-primary {
  background-color: #14468C !important;
  border-color: #14468C;
}

.containter-xxl.section {
  background-color: #e6f1f7;
  margin: -1px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 170px;
}
